// HOVER ANIMATIONS
.hv-raised {
    transition: all 0.5s;

    &:hover {
        z-index: 1;
        transform: scale(1.1);
    }
}
.hv-raised-shadow {
    transition: all 0.5s;

    &:hover {
        z-index: 1;
        transform: scale(1.1);
        // TODO : SHADOW 
    }
}

.hv-img-rounded-1 {
    transition: all 0.6s;
    &:hover {
        border-radius: 15px !important;
    }
}

.hv-img-rounded-2 {
    transition: all 0.6s;
    &:hover {
        border-radius: 25px !important;
    }
}

.hv-img-rounded-3 {
    transition: all 0.6s;
    &:hover {
        border-radius: 40px !important;
    }
}
// END HOVER ANIMATIONS

// SCROLLER
#services-scroller {
        width: 80px;
        padding: 10px;
        text-align: center;

        @keyframes scrollerAnimation {
            0% {
                transform: translateY(0px);
                opacity: 0;
            }

            20% {
                transform: translateY(6px);
                opacity: 1;
            }

            70% {
                transform: translateY(20px);
                opacity: 0;
            }

            100% {
                transform: translateY(0px);
                opacity: 0;
            }
        }

        img {
            animation: scrollerAnimation 2s infinite 0s linear;
        }
    }