//  << COLORS >>  \\
$primaryColor : red;
$primary100 : pink;
$primary200 : pink;
$primary300 : pink;

$secondaryColor : red;
$secondary100: red;
$secondary200: red;
$secondary300: red;

$backgroundColor:rgb(242, 255, 255);
$wrapperColor:rgb(242, 255, 255);


@mixin color($color) {
    color: $color;
}

@mixin borderColor($color, $width) {
    border-width: $width;
    border-color: $color;
}

.c-p {
    color: $primaryColor;
}

.c-p1 {
    color: $primary100;
}

.c-p2 {
    color: $primary200;
}

.c-p3 {
    color: $primary300;
}

.c-s {
    color: $secondaryColor;
}

.c-s1 {
    color: $secondary100;
}

.c-s2 {
    color: $secondary200;
}

.c-s3 {
    color: $secondary300;
}