.fz-1 {
    font-size: 1px !important;
}

.fz-2 {
    font-size: 2px !important;
}

.fz-3 {
    font-size: 3px !important;
}

.fz-4 {
    font-size: 4px !important;
}

.fz-5 {
    font-size: 5px !important;
}

.fz-6 {
    font-size: 6px !important;
}

.fz-7 {
    font-size: 7px !important;
}

.fz-8 {
    font-size: 8px !important;
}

.fz-9 {
    font-size: 9px !important;
}

.fz-10 {
    font-size: 10px !important;
}

.fz-11 {
    font-size: 11px !important;
}

.fz-12 {
    font-size: 12px !important;
}

.fz-13 {
    font-size: 13px !important;
}

.fz-14 {
    font-size: 14px !important;
}

.fz-15 {
    font-size: 15px !important;
}

.fz-16 {
    font-size: 16px !important;
}

.fz-17 {
    font-size: 17px !important;
}

.fz-18 {
    font-size: 18px !important;
}

.fz-19 {
    font-size: 19px !important;
}

.fz-20 {
    font-size: 20px !important;
}

.fz-21 {
    font-size: 21px !important;
}

.fz-22 {
    font-size: 22px !important;
}

.fz-23 {
    font-size: 23px !important;
}

.fz-24 {
    font-size: 24px !important;
}

.fz-25 {
    font-size: 25px !important;
}

.fz-26 {
    font-size: 26px !important;
}

.fz-27 {
    font-size: 27px !important;
}

.fz-28 {
    font-size: 28px !important;
}

.fz-29 {
    font-size: 29px !important;
}

.fz-30 {
    font-size: 30px !important;
}

.fz-31 {
    font-size: 31px !important;
}

.fz-32 {
    font-size: 32px !important;
}

.fz-33 {
    font-size: 33px !important;
}

.fz-34 {
    font-size: 34px !important;
}

.fz-35 {
    font-size: 35px !important;
}

.fz-36 {
    font-size: 36px !important;
}

.fz-37 {
    font-size: 37px !important;
}

.fz-38 {
    font-size: 38px !important;
}

.fz-39 {
    font-size: 39px !important;
}

.fz-40 {
    font-size: 40px !important;
}

.fz-41 {
    font-size: 41px !important;
}

.fz-42 {
    font-size: 42px !important;
}

.fz-43 {
    font-size: 43px !important;
}

.fz-44 {
    font-size: 44px !important;
}

.fz-45 {
    font-size: 45px !important;
}

.fz-46 {
    font-size: 46px !important;
}

.fz-47 {
    font-size: 47px !important;
}

.fz-48 {
    font-size: 48px !important;
}

.fz-49 {
    font-size: 49px !important;
}

.fz-50 {
    font-size: 50px !important;
}

.fz-51 {
    font-size: 51px !important;
}

.fz-52 {
    font-size: 52px !important;
}

.fz-53 {
    font-size: 53px !important;
}

.fz-54 {
    font-size: 54px !important;
}

.fz-55 {
    font-size: 55px !important;
}

.fz-56 {
    font-size: 56px !important;
}

.fz-57 {
    font-size: 57px !important;
}

.fz-58 {
    font-size: 58px !important;
}

.fz-59 {
    font-size: 59px !important;
}

.fz-60 {
    font-size: 60px !important;
}