.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-100vw {
    width: 100vw;
}

.h-100vh {
    height: 100vh;
}

.m-a {
    margin: auto;
}

.mr-a {
    margin-right: auto;
}

.ml-a {
    margin-left: auto;
}

.mt-a {
    margin-top: auto;
}

.mb-a {
    margin-bottom: auto;
}