// RADIUS
r-5 {
    border-radius: 5px;
}

r-10 {
    border-radius: 10px;
}

r-15 {
    border-radius: 15px;
}

r-20 {
    border-radius: 20px;
}

r-25 {
    border-radius: 25px;
}

z-1 {
    z-index: 1;
}

z-2 {
    z-index: 1;
}

z-3 {
    z-index: 1;
}

z-10 {
    z-index: 10;
}

z-20 {
    z-index: 20;
}

z-30 {
    z-index: 30;
}

.txt-c {
    text-align: center;
}

.txt-s {
    text-align: start;
}

.txt-e {
    text-align: end;
}

// btn-pri {
//     border: none;
//     color: $primaryColor;
// }

// btn-sec {
//     border: 2px solid;
//     border-color: $primaryColor;
// }

// BUTTONS
// .btn-more {
//     transition: 0.5s;
//     width: 160px;
//     font-size: 15px;
//     color: $secondaryColor;
//     border-radius: 30px;
//     text-align: center;
//     background-color: $white1;

//     &:hover {
//         background-color: $primaryColor;
//         color: $white1;
//     }

// }

// .btn-pri {
//     transition: 0.5s all;
//     background-color: $secondaryColor;
//     font-weight: 500;
//     color: $white1;
//     width: 200px;
//     border-radius: 40px;
//     padding: 10px;

//     &:hover {
//         background-color: white;
//         color: $primaryColor !important;
//         // border: 2px solid $secondary50;
//     }
// }

// .btn-sec {
//     transition: 0.5s all;
//     background-color: transparent;
//     color: $white1;
//     width: 200px;
//     border-radius: 40px;
//     border: 2px solid $secondary50;
//     padding: 10px;

//     &:hover {
//         background-color: $secondary50;
//         color: $primary200;
//     }
// }