// 6
.p-6 {
    padding: 5rem !important;
}

.pt-6,
.py-6 {
    padding-top: 5rem !important;
}

.pr-6,
.px-6 {
    padding-right: 5rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
    padding-left: 5rem !important;
}

// 7
.p-7 {
    padding: 7.5rem !important;
}

.pt-7,
.py-7 {
    padding-top: 7.5rem !important;
}

.pr-7,
.px-7 {
    padding-right: 7.5rem !important;
}

.pb-7,
.py-7 {
    padding-bottom: 7.5rem !important;
}

.pl-7,
.px-7 {
    padding-left: 7.5rem !important;
}

@media (min-width: 768px) {

    .p-md-6 {
        padding: 5rem !important;
    }

    .pt-md-6,
    .py-md-6 {
        padding-top: 5rem !important;
    }

    .pr-md-6,
    .px-md-6 {
        padding-right: 5rem !important;
    }

    .pb-md-6,
    .py-md-6 {
        padding-bottom: 5rem !important;
    }

    .pl-md-6,
    .px-md-6 {
        padding-left: 5rem !important;
    }

    .pt-md-7,
    .py-md-7 {
        padding-top: 7.5rem !important;
    }

    .pr-md-7,
    .px-md-7 {
        padding-right: 7.5rem !important;
    }

    .pb-md-7,
    .py-md-7 {
        padding-bottom: 7.5rem !important;
    }

    .pl-md-7,
    .px-md-7 {
        padding-left: 7.5rem !important;
    }
}