.c-p {
  color: red;
}

.c-p1 {
  color: pink;
}

.c-p2 {
  color: pink;
}

.c-p3 {
  color: pink;
}

.c-s {
  color: red;
}

.c-s1 {
  color: red;
}

.c-s2 {
  color: red;
}

.c-s3 {
  color: red;
}

.fz-1 {
  font-size: 1px !important;
}

.fz-2 {
  font-size: 2px !important;
}

.fz-3 {
  font-size: 3px !important;
}

.fz-4 {
  font-size: 4px !important;
}

.fz-5 {
  font-size: 5px !important;
}

.fz-6 {
  font-size: 6px !important;
}

.fz-7 {
  font-size: 7px !important;
}

.fz-8 {
  font-size: 8px !important;
}

.fz-9 {
  font-size: 9px !important;
}

.fz-10 {
  font-size: 10px !important;
}

.fz-11 {
  font-size: 11px !important;
}

.fz-12 {
  font-size: 12px !important;
}

.fz-13 {
  font-size: 13px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-17 {
  font-size: 17px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-19 {
  font-size: 19px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-21 {
  font-size: 21px !important;
}

.fz-22 {
  font-size: 22px !important;
}

.fz-23 {
  font-size: 23px !important;
}

.fz-24 {
  font-size: 24px !important;
}

.fz-25 {
  font-size: 25px !important;
}

.fz-26 {
  font-size: 26px !important;
}

.fz-27 {
  font-size: 27px !important;
}

.fz-28 {
  font-size: 28px !important;
}

.fz-29 {
  font-size: 29px !important;
}

.fz-30 {
  font-size: 30px !important;
}

.fz-31 {
  font-size: 31px !important;
}

.fz-32 {
  font-size: 32px !important;
}

.fz-33 {
  font-size: 33px !important;
}

.fz-34 {
  font-size: 34px !important;
}

.fz-35 {
  font-size: 35px !important;
}

.fz-36 {
  font-size: 36px !important;
}

.fz-37 {
  font-size: 37px !important;
}

.fz-38 {
  font-size: 38px !important;
}

.fz-39 {
  font-size: 39px !important;
}

.fz-40 {
  font-size: 40px !important;
}

.fz-41 {
  font-size: 41px !important;
}

.fz-42 {
  font-size: 42px !important;
}

.fz-43 {
  font-size: 43px !important;
}

.fz-44 {
  font-size: 44px !important;
}

.fz-45 {
  font-size: 45px !important;
}

.fz-46 {
  font-size: 46px !important;
}

.fz-47 {
  font-size: 47px !important;
}

.fz-48 {
  font-size: 48px !important;
}

.fz-49 {
  font-size: 49px !important;
}

.fz-50 {
  font-size: 50px !important;
}

.fz-51 {
  font-size: 51px !important;
}

.fz-52 {
  font-size: 52px !important;
}

.fz-53 {
  font-size: 53px !important;
}

.fz-54 {
  font-size: 54px !important;
}

.fz-55 {
  font-size: 55px !important;
}

.fz-56 {
  font-size: 56px !important;
}

.fz-57 {
  font-size: 57px !important;
}

.fz-58 {
  font-size: 58px !important;
}

.fz-59 {
  font-size: 59px !important;
}

.fz-60 {
  font-size: 60px !important;
}

.f-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.f-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f-col-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-col-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.f-col-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.f-col-st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.f-col-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.f-col-ce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-row-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-row-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.f-row-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.f-row-st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.f-row-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.f-row-ce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

r-5 {
  border-radius: 5px;
}

r-10 {
  border-radius: 10px;
}

r-15 {
  border-radius: 15px;
}

r-20 {
  border-radius: 20px;
}

r-25 {
  border-radius: 25px;
}

z-1 {
  z-index: 1;
}

z-2 {
  z-index: 1;
}

z-3 {
  z-index: 1;
}

z-10 {
  z-index: 10;
}

z-20 {
  z-index: 20;
}

z-30 {
  z-index: 30;
}

.txt-c {
  text-align: center;
}

.txt-s {
  text-align: start;
}

.txt-e {
  text-align: end;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.m-a {
  margin: auto;
}

.mr-a {
  margin-right: auto;
}

.ml-a {
  margin-left: auto;
}

.mt-a {
  margin-top: auto;
}

.mb-a {
  margin-bottom: auto;
}

.p-6 {
  padding: 5rem !important;
}

.pt-6,
.py-6 {
  padding-top: 5rem !important;
}

.pr-6,
.px-6 {
  padding-right: 5rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem !important;
}

.pl-6,
.px-6 {
  padding-left: 5rem !important;
}

.p-7 {
  padding: 7.5rem !important;
}

.pt-7,
.py-7 {
  padding-top: 7.5rem !important;
}

.pr-7,
.px-7 {
  padding-right: 7.5rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 7.5rem !important;
}

.pl-7,
.px-7 {
  padding-left: 7.5rem !important;
}

@media (min-width: 768px) {
  .p-md-6 {
    padding: 5rem !important;
  }
  .pt-md-6,
  .py-md-6 {
    padding-top: 5rem !important;
  }
  .pr-md-6,
  .px-md-6 {
    padding-right: 5rem !important;
  }
  .pb-md-6,
  .py-md-6 {
    padding-bottom: 5rem !important;
  }
  .pl-md-6,
  .px-md-6 {
    padding-left: 5rem !important;
  }
  .pt-md-7,
  .py-md-7 {
    padding-top: 7.5rem !important;
  }
  .pr-md-7,
  .px-md-7 {
    padding-right: 7.5rem !important;
  }
  .pb-md-7,
  .py-md-7 {
    padding-bottom: 7.5rem !important;
  }
  .pl-md-7,
  .px-md-7 {
    padding-left: 7.5rem !important;
  }
}

.hv-raised {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hv-raised:hover {
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hv-raised-shadow {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hv-raised-shadow:hover {
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hv-img-rounded-1 {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hv-img-rounded-1:hover {
  border-radius: 15px !important;
}

.hv-img-rounded-2 {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hv-img-rounded-2:hover {
  border-radius: 25px !important;
}

.hv-img-rounded-3 {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hv-img-rounded-3:hover {
  border-radius: 40px !important;
}

#services-scroller {
  width: 80px;
  padding: 10px;
  text-align: center;
}

@-webkit-keyframes scrollerAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes scrollerAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
}

#services-scroller img {
  -webkit-animation: scrollerAnimation 2s infinite 0s linear;
          animation: scrollerAnimation 2s infinite 0s linear;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f1f1f1;
}

h1 {
  font-size: 72px;
  -webkit-columns: red;
          columns: red;
  font-weight: 400;
}

h2 {
  font-size: 64px;
  -webkit-columns: red;
          columns: red;
  font-weight: 400;
}

h3 {
  font-size: 56px;
  font-weight: 200;
  color: white;
}

h4 {
  font-weight: 200;
  font-size: 48px;
  -webkit-columns: red;
          columns: red;
}

h5 {
  font-size: 40px;
  -webkit-columns: red;
          columns: red;
}

h6 {
  font-size: 20px;
  -webkit-columns: red;
          columns: red;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.container {
  width: 85%;
  margin: auto;
}

.container-wide {
  width: 70%;
  margin: auto;
}

p {
  font-size: 12px;
}

.welcome-section {
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://picsum.photos/id/128/1200/300);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.welcome-section p {
  font-size: 20px;
  color: #cecece;
}

.welcome-section .explore-button {
  background-color: green;
  width: 200px;
  font-size: 16px;
  color: white;
}

.section-featured .details-button {
  background-color: green;
  height: 35px;
  color: white;
  width: 100%;
}

.section-featured .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}

.section-featured .project-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */