@import 'colors';
@import 'fontsizes';
@import 'flex';
@import 'modifications';
@import 'measurements';
@import 'spacing';
@import 'animations';

// STARTING SETUP \\

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

// SIZES
$h1 :72px;
$h2 :64px;
$h3 :56px;
$h4 :48px;
$h5 :40px;
$h6 :20px;

// HEADERS
h1 {
    font-size: $h1;
    columns: $primaryColor;
    font-weight: 400;
}

h2 {
    font-size: $h2;
    columns: $primaryColor;
    font-weight: 400;
}

h3 {
    font-size: $h3;
    font-weight: 200;
    // columns: $primaryColor;
    color: white;
}

h4 {
    font-weight: 200;
    font-size: $h4;
    columns: $primaryColor;
}

h5 {
    font-size: $h5;
    columns: $primaryColor;
}

h6 {
    font-size: $h6;
    columns: $primaryColor;
}

// END HEADERS

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    // font-family: 'Mulish', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;

    &:hover {
        color: $secondaryColor;
    }
}

.container {
    width: 85%;
    margin: auto;
}

.container-wide {
    width: 70%;
    margin: auto;
}

p {
    font-size: 12px;
    // color: $primary100;
}

.welcome-section {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pexels-sevenstorm-juhaszimrus-443379.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    // padding: 100px 150px;
    p {
        font-size: 20px;
        color: rgb(206, 206, 206);
    }

    .explore-button {
        background-color: green;
        width: 200px;
        font-size: 16px;
        color: white;
    }
}

.section-featured {
    .details-button {
        background-color: green;
        height: 35px;
        color: white;
        width: 100%;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 40px;

        img {
            object-fit: cover;
            width: 50%;
        }
    }
}